.container{
    position: relative;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.startstuff{
    display: flex;
    justify-content: center;
    align-items: center;
}

.directions{
    display:flex;
    justify-content: center;
    align-items: center;
}

#welcometext{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

#directionlist{
    font-family: Arial, Helvetica, sans-serif;
}

#plantbutton{
    border: 3px solid black;
    border-radius: 50px;
    transition-duration: 0.4s;
}

#plantbutton:hover{
    border: 3px solid black;
    background-color: hsl(88, 77%, 78%);
    border-radius: 40px;
    cursor: pointer;
}

#plantbutton>img{
    transition-duration: 0.4s;
}

#plantbutton>img:hover{
    height: 450px;
    width: 450px;
}

#animalbutton{
    border: 3px solid black;
    border-radius: 50px;
    transition-duration: 0.4s;
}

#animalbutton:hover{
    border: 3px solid black;
    background-color: hsl(170, 89%, 76%);
    border-radius: 40px;
    cursor: pointer;
}

#animalbutton>img{
    transition-duration: 0.4s;
}

#animalbutton>img:hover{
    height: 450px;
    width: 450px;
}

.divider{
    width:20px;
    height:auto;
    display:inline-block;
}